.pending-homepage {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  /*padding: 20px;*/
  border-radius: 5px;
  background-color: #e9e9e9;
}

.homepage-block {
  background-color: #337AB6;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.pending-details {
  font-weight: 900;
}