@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'posts.scss';
@import 'gritter';
@import 'bourbon';
@import 'admin_homepage';

.custom-nav {
  margin-top: 2em;
  width: 100%;
}

.user-edit-form {
  width: 100%;
}

label {
  font-size: 0.8em;
}

.random-class {
 color: white;
}